body {
    background: rgb(191, 191, 241);
    font: normal 15px arial;

}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

#foto {
    border-radius: 150px;
}

#sexo {
    text-align: center;
}